{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>MangaList</title>
  <script src="{% static 'lib/angular/angular.min.js' %}"></script>
  <script src="{% static 'lib/angular/angular-route.min.js' %}"></script>
  <script src="{% static 'lib/angular/angular-animate.min.js' %}"></script>

  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/controllers.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main" ng-view></div>
</body>
</html>